.admin-panel {
  display: flex;
}

.main-panel {
  flex: 1;
  padding: 4rem;
  background-color: #f4f6f9;
  min-height: 100vh;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

select {
  padding: 5px;
}

button {
  padding: 5px 10px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #c0392b;
}

h2{
  font-size: 22px;
    font-weight: 600;
    color: black;
    line-height: 30px;
    margin-bottom: 20px;
}
